body {
    background-color: #A0DAF8;
}
.header-title {
    width: 1750px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 32px;
    margin-left: 100px;
    margin-top: 10px;
}

.breeds {
    background-color: #a6e3ff;
    text-align: center;
    padding: 50px 100px;
}

.breeds h3 {
    font-size: 40px;
    margin-bottom: 10px;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 20px;
}




@media (max-width: 1440px) {
    .header-title {
        font-size: 16px;
        margin-left: 250px;
    }
    
    
}


